.text {
  font-family: Raleway, sans-serif;
  font-size: 1.5em;
}

.smaller-text {
  font-size: 1em;
}

.the-bar {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.fill-the-bar {
  transition: transform 2s;
  transform: scaleY(1);
  transform-origin: bottom;
  stroke: none;
  fill: green;
  cursor: pointer;
}

.fill-the-bar:hover {
  transform: scaleY(7.5);
}

.dominant-baseline-hanging {
  dominant-baseline: hanging;
}

.dominant-baseline-middle {
  dominant-baseline: middle;
}

.text-anchor-end {
  text-anchor: end;
}
